{% extends "basic.html" %} 

{% block title %} 
Index
{% endblock %} 

{% block menubar %} 
<!--Header-->
<!--==============================================-->
<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">MyBlog</a>
		<ul class="nav">
			<li class="{{header.0}}" ><a href="/index/">主页</a></li>
			<li class="{{header.1}}" ><a href="/article/">日志</a></li>
			<li class="{{header.2}}" ><a href="/photos/">相册</a></li>
		</ul>
		<ul class="nav choices">
			<li class="dropdown">
			<a id="drop1" href="{{myuser.info}}" role="button" class="dropdown-toggle"
				data-toggle= "dropdown">
				{{ myuser.name}} 
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu" role="menu" aria-labelledby = "drop1">
				{% for choice in userChoice%} 
				<li role="presentation">
				<a role="menuitem" tabindex="-1" href="{{choice.info}} ">{{choice.name}}</a>
				</li>
				{% endfor %}
			</ul>
			</li>
		</ul>
	</div>
</div>
{% endblock %} 
